# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/prep-ai/.env
frontend/prep-ai/.env.*

# Backend
backend/node_modules/
backend/.env
backend/.env.*

# Logs
*.log
logs/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db